/* GENERAL PROPERTIES */
body {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
p {
  font-size: 2.5em;

}
/* ***NAVIGAGTION BAR*** */
nav {
  position: fixed;
  z-index: 99999;
  background-color: white;
  border: 1px solid black;
  width: 100%;
}
/* ***HEADER*** */
header {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  background: url('../img/Minimalist12.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.subheader {
  text-align: center;
}
/* ***CONTENT/BODY*** */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
  background: 1px solid black;
  /* background-color: #ccffcc; */
}
.sections {
  border: 1px solid black;
  width: 40%;
  margin-bottom: 20px;
  height: 300px;
}

/* ***FOOTER*** */
