/* GENERAL PROPERTIES */
body, html {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 2.5em;
    line-height: 3.75em;
  }
  .wrapper {
    width: 100%;
    height: 100%;
  }
  /* ***NAVIGAGTION BAR*** */
  nav {
    background-color: white;
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: inherit;
    margin: 0;
    padding: 0;
  
  }
  nav ul li {
    list-style-type: none;
    /* border: 1px solid black; */
    height: inherit;
    width: 25%;
    font-size: 2em;
    text-align: center;
  }
  nav ul #logo {
    width: 50%;
    font-size: 2.3em;
  }
  /* ***HEADER*** */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: black;
    /* background: url('../img/Minimalist12.jpg'); */
    /* background-attachment: fixed;
    background-size: cover; */
  }
  header section:nth-child(1) {
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid black;
  }
  
  header section:nth-child(2) {
    float: left;
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
  }
  
  #headerleft {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  #headerleft h1, p {
    color: grey;
  }
  
  #headerright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  #box-container {
    width: 400px;
    height: 400px;
  }
  
  #headerright .box {
    position: absolute;
    width: 380px;
    height: 380px;
    background-color: black;
    transition: 0.5s;
    border-radius: 20px;
  }
  
  #headerright #box-container .box:nth-child(4) {
    background-color: red;
    transform: rotate(10deg);
    transition: 0.5s;
  }
  
  #headerright #box-container .box:nth-child(3) {
    background-color: blue;
    transform: rotate(6deg);
    transition: 0.5s;
  }
  
  #headerright #box-container .box:nth-child(2) {
    background-color: green;
    transform: rotate(4deg);
    transition: 0.5s;
  }
  
  #headerright #box-container .box:nth-child(1) {
    background-color: yellow;
    transform: rotate(2deg);
    transition: 0.5s;
  }
  
  #headerright #box-container:hover .box:nth-child(4) {
    background-color: red;
    transform: rotate(14deg) translate(190px, 100px);
    transition: 0.5s;
  }
  
  #headerright #box-container:hover .box:nth-child(3) {
    background-color: blue;
    transform: rotate(-15deg) translate(-180px, 100px);
    transition: 0.5s;
  }
  
  #headerright #box-container:hover .box:nth-child(2) {
    background-color: green;
    transform: rotate(8deg) translate(180px, -120px);
    transition: 0.5s;
  }
  
  #headerright #box-container:hover .box:nth-child(1) {
    background-color: yellow;
    transform: rotate(-5deg) translate(-140px, -120px);
    transition: 0.5s;
  }
  
  .subheader {
    text-align: center;
  }
  /* ***CONTENT/BODY*** */
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    background: 1px solid black;
    /* background-color: #ccffcc; */
  }
  .sections {
    overflow: hidden;
    border: 1px solid black;
    width: 50%;
    margin-bottom: 20px;
    height: 300px;
  }
  img {
    width: 400px;
    height: 400px;
  }
  .test {
    /* background-image: url('../img/Minimalist13.jpg'); */
    background-size: cover;
    background-position: right;
  }
  /* ***FOOTER*** */
  